* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  cursor: default;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ul>li {
  float: left;
  text-align: center;
} */

body {
  width: 100%;
  height: 100%;
  color: #5a5b62;
  font-family: "微软雅黑";
  background: #fbfbfd;
}

/* 渐变文本 */
.test-color {
  display: inline-block;
  color: #008bff;
  font-family: '微软雅黑';
  background-image: -webkit-gradient(linear, 0 0, right 0, from(rgba(37, 54, 255, 1)), to(rgba(51, 186, 253, 1)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 550;
}


/*滚动条数据*/
::-webkit-scrollbar {
  width: 6px !important;
  height: 0px !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2) !important;
  background: #4dafff !important;
}

::-webkit-scrollbar-track {
  border-radius: 10px !important;
}

/* 清除input背景 */
input {
  background: none;
}

/*控制input标签聚焦是不出现默认边框 */
input:focus {
  outline: none;
}